* {
  box-sizing: border-box;
}

.header {
  height: 457px;
  padding-top: 120px;
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aecaca;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

header h2 {
  margin-top: -5px;
}

#double-arrow {
  display: flex;
  flex-direction: column;
  color: brown;
  align-items: center;
  padding-top: 5px;
}

/* desktop screen */
@media only screen and (min-width: 1024px) {
  .header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    width: 50%;
    height: 50%;
    background-color: rgb(177, 208, 188);
  }
}
