/* Navigation bar CSS styling */
* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
  font-family: Source Sans Pro;
  height: 120px;
  color: #FFFFFF;
  background-color: #cfaa0b;
  display: flex;
  justify-content: space-between;
}

nav span {
  display: flex;
  align-items: center;
  font-family: Bungee;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-between;
    background-color: #cfaa0b;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  }
}