/* Navigation bar CSS styling */
nav {
  position: fixed;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 100%;
  font-family: Source Sans Pro;
  height: 120px;
  color: #FFFFFF;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
}

nav span {
  display: flex;
  align-items: center;
  font-family: Bungee;
}
