* {
  box-sizing: border-box;
}

.text-area-container textarea {
  width: 100%;
  border-bottom: 5px solid #3a3939;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: transparent;
}

form {
  padding-top: 20px;
  margin-right: 10px;
}

button {
  justify-content: flex-start;
  font-family: Bungee;
  color: #FFFFFF;
  background-color: #4056A1;
}

output {
  font-family: Bungee;
}

label {
  font-size: 30px;
}

#tweet-text {
  margin-right: 10px;
  resize: none;
  outline: none;
  width: 100%;
  border-bottom: 5px solid #4c4a4a;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: transparent;
}

.tweet-character {
  display: flex;
  justify-content: space-between;

}

.red-text {
  color: red;
}

article.tweet {
  border: 5px solid #4c4a4a;
  padding: 1em;
  margin: 1em 0;
}

article.tweet:hover {
  box-shadow: 5px 5px #b0bef2;
}

article.tweet header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .2 em;
  border-top: 5px solid #4c4a4a;
  flex-direction: row;
}

#tweets-container {
  width: 100%;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: transparent;
}

.icons:hover {
  color: rgb(217, 175, 9);
}

.avatar {
  display: flex;
  align-items: center;
}

.error {
  background: #c10c0cf5;
  border-radius: 10px;
  color: white;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px #aaaaaa;
  margin-bottom: 20px;
}

#empty-error {
  background: #c10c0cf5;
  border-radius: 10px;
  color: white;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px #aaaaaa;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1024px) {
  button {
    color: #FFFFFF;
    background-color: #065241;
  }

  #new-tweet-form {
    padding-top: 0px;
  }
}