form {
  padding-top: 20px;
  margin: 0 auto;
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; */
}

button {
  justify-content: flex-start;
  font-family: Bungee;
  color: #FFFFFF;
  background-color: #4056A1;
}
output {
  font-family: Bungee;
}

label {
  font-size: 30px;
}

#tweet-text {
  resize: none;
  width: 100%;
  border-bottom: 5px solid black;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-color: transparent;
  font-size: 24px;
  outline: none;
}

.tweet-character {
  display: flex;
  justify-content: space-between;
}

.red-text {
  color: red;
}